In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
d = pd.read_csv(r'C:\Users\REBIRTH JEREMYELEVEN\Desktop\2.02.+Binary+predictors.csv')

In [3]:
d.head()

    SAT Admitted  Gender
0  1363       No    Male
1  1792      Yes  Female
2  1954      Yes  Female
3  1653       No    Male
4  1593       No    Male

### Mapping Categorical Data to Numerical Values

In [4]:
d['Admitted'] = d['Admitted'].map({'Yes':1, 'No':0})
d['Gender'] = d['Gender'].map({'Female': 1, 'Male':0})

In [5]:
d.head()

    SAT  Admitted  Gender
0  1363         0       0
1  1792         1       1
2  1954         1       1
3  1653         0       0
4  1593         0       0

### Defining Variables

In [6]:
y = d['Admitted']
x = d.drop(['Admitted'], axis=1)

### Adding Constant and Fitting Logistic Regression

In [8]:
x1 = sm.add_constant(x)

log_reg = sm.Logit(y,x1)
lr = log_reg.fit()

lr.summary()

Optimization terminated successfully.
         Current function value: 0.120117
         Iterations 10

C:\Users\REBIRTH JEREMYELEVEN\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      165
Method:                           MLE   Df Model:                            2
Date:                Sat, 18 Mar 2023   Pseudo R-squ.:                  0.8249
Time:                        19:37:55   Log-Likelihood:                -20.180
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 5.118e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -68.3489     16.454     -4.154      0.000    -100.598     -36.100
SAT            0.0406      0.010      4.129      0.000       0.021       0.060
Gender         1.9449      0.846      2.299      0.022       0.287       3.603
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

### Calculating Accuracy

In [17]:
b = lr.pred_table()

In [13]:
cm = pd.DataFrame(lr.pred_table())
cm.columns = [['Prediction0','Prediction1']]

In [15]:
cm.rename(index={0:'Actual0', 1:'Actual1'})

        Prediction0 Prediction1
Actual0        69.0         5.0
Actual1         4.0        90.0

In [19]:
Accuracy = (b[0,0]+b[1,1])/b.sum()
Accuracy

0.9464285714285714